.codeViewParent {
    position: relative;
}

.codeViewCanvas {
    background-color: transparent;
    position: absolute;
    z-index: 99;
}

.selected-line {
    background-color: #C5E5EF;
    border-radius: 3px;
}

.badge {
    margin-left: 3px;
}