<div class="main-container screen">
  <app-header [info]="info" [title]="'HealthBot: Control'"></app-header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col">
          <div class="card">
            <div class="card-block">
              <clr-tabs>
                <clr-tab>
                  <button clrTabLink>Current Screen</button>
                  <clr-tab-content *clrIfActive>
                    <table class="table table-vertical">
                      <tbody>
                        <tr>
                          <th style="width:33%;">Screen Name</th>
                          <td>{{currentViewName()}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="card" *ngIf="currentView">
                      <div class="card-block">
                        <app-view-display [currentView]="currentView" [websocket]="websocket"></app-view-display>
                      </div>
                    </div>
                  </clr-tab-content>
                </clr-tab>
                <clr-tab>
                  <button clrTabLink>View Data</button>
                  <clr-tab-content *clrIfActive>
                    <table class="table table-vertical">
                      <tbody>
                        <tr *ngFor="let item of viewData">
                          <th style="width:50%;">{{item.name}}</th>
                          <td>{{item.value}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </clr-tab-content>
                </clr-tab>
                <clr-tab>
                  <button clrTabLink>Debug Log</button>
                  <clr-tab-content *clrIfActive>
                    <div *ngFor="let item of logData" class="debug-line">
                      <clr-icon [attr.shape]="item.lineType" class="is-success"></clr-icon>
                      {{item.value}}
                    </div>
                  </clr-tab-content>
                </clr-tab>
              </clr-tabs>
            </div>
          </div>
        </div>
        <div class="clr-col">
          <div class="card">
            <div class="card-header">
              Commands
            </div>
            <div class="card-block">
              <div class="clr-row" *ngIf="info.connected">
                <div class="clr-col-4">
                  <button class="btn btn-block btn-success-outline" (click)="refreshEvents()">Refresh</button>
                </div>
                <div class="clr-col-4">
                  <button class="btn btn-block btn-success-outline" (click)="triggerDownload()">Download</button>
                </div>
                <div class="clr-col-4">
                  <button class="btn btn-block btn-success-outline" (click)="resetExecution()">Reset</button>
                </div>
              </div>
              <div class="clr-row" *ngIf="!info.connected">
                <div class="clr-col-4">
                  <button class="btn btn-block btn-warning-outline" (click)="connectToServer()">Connect</button>
                </div>
              </div>
            </div>
            <div class="card-block">
              <form clrForm>
                <div class="clr-row">
                  <div class="clr-col-8">
                    <clr-input-container>
                      <label>Send Input</label>
                      <input clrInput type="text" [(ngModel)]="textInput" name="textInput" placeholder="Input to Send" />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-4">
                    <button class="btn btn-block push-down" (click)="sendInput()" [disabled]="!info.connected">Send</button>
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-8">
                    <clr-input-container>
                      <label>Change Screen</label>
                      <input clrInput type="text" [(ngModel)]="newScreen" name="newScreen" placeholder="New screen name" />
                    </clr-input-container>
                  </div>
                  <div class="clr-col-4">
                    <button class="btn btn-block push-down" (click)="changeScreen()" [disabled]="!info.connected">Change</button>
                  </div>
                </div>
                <div class="clr-row">
                  <div class="clr-col-8">
                    <clr-select-container>
                      <label>Start Script</label>
                      <select clrSelect name="selectedEvent" [(ngModel)]="selectedEvent">
                        <option value="{{evt.event_id}}" *ngFor="let evt of scheduledEvents">{{evt.script}}</option>
                      </select>
                    </clr-select-container>
                  </div>
                  <div class="clr-col-4">
                    <button class="btn btn-block push-down" (click)="startScript()" [disabled]="!info.connected || !selectedEvent">Start</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
