<div class="main-container screen">
  <app-header [info]="info" [title]="'HealthBot: Debugger'"></app-header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col">
          <div class="card">
            <div class="card-header">
              Debug Log
            </div>
            <div class="card-block">
              <div *ngFor="let item of logData" class="debug-line" (click)="item.isOpen = !item.isOpen" [class.expandable]="item.details.result">
                <clr-icon [attr.shape]="item.lineType" class="is-success"></clr-icon>
                {{item.value}}
                <clr-icon shape="flag" class="is-solid" *ngIf="item.details.result"></clr-icon>
                <div class="card" *ngIf="item.isOpen && item.details.result">
                  <div class="card-block">
                    {{item.details.result}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="clr-col">
        </div>
      </div>
    </div>
  </div>
</div>
