.card,
.table {
  margin-top: 0;
}

.card-seperator {
  margin-top: 1rem;
}

.table th {
  width: 33%;
}

.expandable {
  cursor: pointer;
}

.debugger-container {
  height: calc(100vh - 220px);
  overflow-y: scroll;
}
