.screen>header {
    flex: 0 0 1rem;
}

.screen header {
    height: 1rem;
}

.screen header .header-nav {
    height: 1rem;
}

.screen header .branding {
    height: 1rem;
    min-width: 6rem;
    padding: 0 1rem;
}

.screen header .branding .title {
    line-height: 1rem;
}

.screen .header-actions {
    padding: 0 1rem;
}

view-display-content .col-xs-1 {
    flex: 0 1 auto;
    max-width: 100%;
}

view-display-content h2 {
    font-size: 2rem;
    margin-bottom: 0.2rem !important;
}

view-display-content .btn-lg {
    text-transform: none;
    font-size: 2rem;
    height: 4rem;
    margin-bottom: 0.2rem !important;
}

.main-container .disconnected {
    background-color: #880000;
}