.screen>header {
  flex: 0 0 1rem;
}

.screen header {
  height: 1rem;
}

.screen header .header-nav {
  height: 1rem;
}

.screen header .branding {
  height: 1rem;
  min-width: 6rem;
  padding: 0 1rem;
}

.screen header .branding .title {
  line-height: 1rem;
}

.screen .header-actions {
  padding: 0 1rem;
}

view-display-content .col-xs-1 {
  flex: 0 1 auto;
  max-width: 100%;
}

view-display-content h2 {
  font-size: 2rem;
  margin-bottom: 0.2rem !important;
}

view-display-content .btn-lg {
  text-transform: none;
  font-size: 2rem;
  height: 4rem;
  margin-bottom: 0.2rem !important;
}

.main-container .disconnected {
  background-color: #880000;
}

.clr-control-container {
  width: 100%;
}

.clr-input {
  width: 100%;
}

.card-block .push-down {
  margin-top: 1.1rem;
}

.clr-select-wrapper {
  width: 100%;
}

.clr-select-wrapper>select {
  width: 100%;
}

.failure-information {
  font-size: 2rem;
}

.failure-information .alert-text {
  line-height: 2rem;
}

.failure-information .alert-action {
  font-size: 1.5rem !important;
  line-height: 2rem !important;
  height: 3rem !important;
  padding: 0.75rem;
}

.code-function {
  color: rgb(26, 26, 166);
}

.code-argument {
  color: rgb(148, 18, 128);
}

.code-syntax {
  color: rgb(0, 0, 0);
}

.code-reference {
  color: rgb(35, 110, 36);
}

.code-string,
.code-number {
  color: rgb(192, 0, 0);
}

.selected-line {
  background-color: #C5E5EF;
  border-radius: 3px;
}
