.screen>header {
    flex: 0 0 1rem;
}

.screen header {
    height: 1rem;
}

.screen header .header-nav {
    height: 1rem;
}

.screen header .branding {
    height: 1rem;
    min-width: 6rem;
    padding: 0 1rem;
}

.screen header .branding .title {
    line-height: 1rem;
}

.screen .header-actions {
    padding: 0 1rem;
}